
<div class="section1">
  <div class="logothp">
      <img src='http://www.lejourj.fr/wp-content/uploads/2017/10/The-hacking-project-1-300x115.png' id='logo'>
  </div>
      <div class="facebook">
        <a href="https://www.facebook.com/thehackingproject/"><img width="80" height="65" src='https://cdn3.iconfinder.com/data/icons/picons-social/57/46-facebook-512.png'></a>

      </div>
</div>


<div class="section2">

</div>



<div class="section3">
    <center><h1>The Next Generation of Hackers</h1></center>
      <div>

          <div>
              <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-computer_easy.svg" />
              <h2>Formation complète</h2>
              <p>Montez en compétence aussi bien sur le backend que sur le frontend ! Au programme: </br> Ruby, Ruby On Rails, HTML, CSS, Javascript, Jquery. </p>
          </div>
          <div>
              <img width="95" height="83"src="http://www.stickers-et-decors.com/678-thickbox_default/sticker-panneaux-direction-du-monde.jpg" />
              <h2>A travers le monde</h2>
              <p>Quelque soit votre situation géographique THP est disponible! </br> Devenez un moussaillon de l'univers.</p>
          </div>
          <div>
              <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-communications.svg" />
              <h2>Méthode du Peer learning</h2>
              <p>Apprenez en équipe ! Le partage du savoir est la clé de la réussite chez THP.</p>
          </div>
          <div>
              <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/uploads/2015/10/home-analytics.svg" />
              <h2>Formation en accelérée</h2>
              <p>Go ! La formation dure 11 semaines.</p>
          </div>
        </div>
</div>


<div class="section4">
    <center><h1>Témoignages</h1></center>
      <DIV>
          <div class="temoignage1">
              <p>
              </p>
          </div>
          <div>
              <div class="temoignage2">
                  <p>
" En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides."
                  </p>
              </div>
              <div>
                  <p>
                  <img src="http://www.doyoubuzz.com/var/users/_/2016/5/31/11/1189164/avatar/1125646/avatar_cp_630.jpg?t=1513168848" style="float:left;width:42px;height:42px;">
                  <bold>Maxime Souillat</bold><br>
                  Corsaire</p>
              </div>
          </div>

      </DIV>
</div>


<div class="section5">
  <center><h1> Une newsletter rien que pour toi!</h1></center>
  <img src="">
  <center><p>Ne manquez rien de l'actualité THP, inscris-toi pour recevoir notre super newsletter !</p></center>
</div>
